@{
    ViewData["Title"] = "Home Page";
}


<a href="~/plugin1"><h2>Plugin 1 Home (Created view in the host to override)</h2></a>

<a href="~/plugin1/test"><h2>Plugin 1 Test (Not create view in the host to override)</h2></a>
